* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.RegistroNoticias {
    width: 400 px;
    background: #6A5ACD;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    box-shadow: 7px 13px 37px #DDA0DD;
}

.RegistroNoticias h4 {
    font-size: 22px;
    margin-bottom: 20px;
}


.control {
    width: 100%;
    background: #6A5ACD;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #4169E1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}

.RegistroNoticias p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.RegistroNoticias a:hover {
    color: white;
    text-decoration: underline;

}

.RegistroNoticias boton {
    width: 100%;
    background: #BC8F8F;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}